/* CSS INDEX */
body {
    color: black;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Roboto Mono', monospace;
    margin: 0%;
    padding: 0%;
    border: 0%;
}

/** NavBar **/
.logoHome {
    max-height: 55px;
}

.navegation {
    list-style-type: none;
    display: flex;
}

header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    width: 100%;
    height: 80px;
    top: 0%;
    left: 0%;
}

.ulItems {
    color: white;
    font-size: 17px;
    margin: 15px;
    text-decoration: none;
}

/** Main **/

#portada {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(360deg, #808084, #000000);
    background-image: url(../IMG/portada-index.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.welcomeText {
    font-size: 23px;
    width: 85vh;
    color: white;
}

.buttonPortada {
    background-color: #070709;
    border-radius: 10px;
    min-width: 170px;
    min-height: 40px;
    font-size: 18px;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;

}

.buttonPortadaA {
    text-decoration: none;
    color: white;
}

/** Section Notices **/

.hNews {
    display: flex;
    justify-content: center;
    background-color: #808084;
    color: white;
    margin: 0;
    padding-bottom: 25px;
}

.sectionFlex {
    background: linear-gradient(180deg, #808084, #000000);
    display: flex;
    justify-content: space-around;
}

#articleSection {
    display: flex;
    width: 335px;
    min-height: 590px;
    background: linear-gradient(360deg, #808084, #000000);
    color: white;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#esportsImg {
    max-width: 270px;
    border-radius: 12px;
}

.borderImg {
    margin-top: -40px;
}

.hTittle {
    margin-top: 5.5%;
    margin-bottom: 0%;
}

.sectionText {
    min-width: 30vh;
    max-width: 36vh;
}

.sectionButton {
    background-color: white;
    border-radius: 10px;
    min-width: 170px;
    min-height: 40px;
    font-size: 18px;
    color: black;
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-top: 4%;
}

/** Newsletter **/

.newsletter {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.leftNewsletter {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: 65px;
}

.rightNewsletter {
    max-width: 500px;
    margin-right: 65px;
}

.inputNewsletter {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    max-height: 70px;
}

.emailNewsletter {
    border-radius: 5px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.imgButton {
    max-width: 20px;
    margin: 5px;
}

.submitNewsletter {
    background-color: white;
    max-width: 55px;
    max-height: 70px;
    margin-left: 10px;
    border-radius: 5px;
}

/** Section Social Networks **/

#socialNetworks {
    padding-bottom: -20px;
}

.hSocialNetworks {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    margin: 0;
    padding-top: 45px;
}

.socialNetworks {
    background-color: #000000;
    display: flex;
    justify-content: center;
}

.iconSN {
    max-width: 55px;
    margin: 20px;
    padding-top: 20px;
}

/** Footer **/
.footer {
    background-image: url(../IMG/footer-background.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 350px;
    max-height: 350px;
}

.footer section {
    display: flex;
    color: white;
    justify-content: space-around;
    padding-top: 100px;
}

.kgFooter {
    max-width: 100px;
}

.termsAndCond {
    text-decoration: none;
    color: white;
}

.goToStart {
    color: black;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

.buttonGoToStart {
    background-color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    min-height: 40px;
    min-width: 110px;
    border-radius: 10px;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.buttonPosition {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

/*** >> Media Queries Index << ***/

/** >> TABLET <<**/
@media screen and (max-width: 970px) {
    .sectionFlex {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #articleSection {
        margin: 20px;
    }

    .welcomeText {
        width: 60vh;
        font-size: 20px;
    }
}

/* CSS PRODUCTS */

#mainProducts {
    background-color: black;
    align-items: center;
    height: 100%;
    padding-top: 80px;
    display: grid;
    grid-template-areas:
        "keyboardsSection  keyboardsSection  mousesSection"
        "headphonesSection headphonesSection mousesSection"
        "webCamerasSection webCamerasSection mousesSection";
}

.keyboardsSection {
    background-image: url(../IMG/keygoat-pro-black-60.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    grid-area: keyboardsSection;
    height: 33.3vh;
}

.mousesSection {
    background-image: url(../IMG/keygoat-mouse-titan-black-1.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    grid-area: mousesSection;
    height: 100vh;
}

.headphonesSection {
    background-image: url(../IMG/headphones-bull-black.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    grid-area: headphonesSection;
    height: 33.3vh;
}

.camsSection {
    background-image: url(../IMG/goat-cam-4k-60fps.png);
    background-repeat: no-repeat;
    background-position: center center;
    grid-area: webCamerasSection;
    height: 33.3vh;
}

/* CSS KEYFAMILY */

#mainKf {
    background: url(../IMG/portada-contact.png);
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    display: flex;
    align-items: center;
    height: 140vh;
    justify-content: center;
    flex-direction: column;
    padding-bottom: -100px;
}

#mainKf div {
    width: 70vw;
}

.subscribeButton {
    background-color: black;
    border-radius: 15px;
    min-height: 45px;
    min-width: 120px;
    font-size: 17px;
    font-size: 18px;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.subscribeText {
    text-decoration: none;
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding: 10px;
    color: white;
}

/* CSS CONTACT */

.mainContact {
    height: 100vh;
    background: url(../IMG/portada-contact.png);
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.contactText {
    width: 40vw;
    padding-left: 50px;
}

.contactForm {
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.formSpace {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Roboto Mono', monospace;
    color: black;
    background-color: white;
    border-radius: 10px;
    max-width: 270px;
    min-height: 25px;
}

.formMessage {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Roboto Mono', monospace;
    color: black;
    background-color: white;
    border-radius: 10px;
    max-width: 410px;
    min-height: 105px;
}

.formSubmit {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Roboto Mono', monospace;
    color: black;
    background-color: white;
    border-radius: 10px;
    max-width: 100px;
    min-height: 35px;
}

.labelText {
    font-size: 18px;
    padding-top: 13px;
}

/* CSS SALES-POINTS */

#mainSP {
    background: linear-gradient(180deg, #808084, #000000);
    color: white;
    display: flex;
    height: 240vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.maps {
    max-width: 60vh;
    max-height: 70vh;
    border-radius: 55px;
}