// VARS
$gray-color: #808084;
$black-color: black;

main {
    #portada {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        background-image: url(../img/portada-index.png);
        background-repeat: no-repeat;
        background-position: center center;

        .welcomeText {
            font-size: 23px;
            max-width: 85vh;
        }

        .buttonPortadaA {
            text-decoration: none;
            color: white;
        }
    }

    #mid {
        .hNews {
            display: flex;
            justify-content: center;
            background-color: #808084;
            color: white;
            margin: 0;
            padding-bottom: 25px;
            font-family: 'Kdam Thmor Pro', sans-serif;
        }

        .sectionFlex {
            background: linear-gradient(180deg, $gray-color, $black-color);
            display: flex;
            justify-content: space-around;

            #articleSection {
                display: flex;
                width: 335px;
                min-height: 590px;
                background: linear-gradient(360deg, $gray-color, $black-color);
                color: white;
                border-radius: 20px;
                text-align: center;
                justify-content: start;
                flex-direction: column;
                align-items: center;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                font-family: 'Kdam Thmor Pro', sans-serif;
            }

            .esportsImg {
                max-width: 270px;
                border-radius: 17px;
                padding-top: 40px;
            }

            .hTittle {
                margin-top: 5.5%;
                margin-bottom: 0%;
                font-size: 20px;
            }

            .sectionText {
                min-width: 30vh;
                max-width: 36vh;
                padding-top: 18px;
                padding-left: 10px;
                padding-right: 10px;
            }

            .sectionButton {
                background-color: white;
                border-radius: 10px;
                min-width: 170px;
                min-height: 40px;
                font-size: 18px;
                color: $black-color;
                font-family: 'Kdam Thmor Pro', sans-serif;
            }
        }
    }
}