.navegation {
    list-style-type: none;
}

* {
    margin: 0%;
    padding: 0%;
}

.ulItems {
    text-decoration: none;
}

.goToStart {
    text-decoration: none;
}

.termsAndCond {
    text-decoration: none;
}

.subscribeText {
    text-decoration: none;
}